body {
background-color: #ffffff;
text-align: justify;
color: #454545;
font-size: medium;
}
header{
background-color: #91a0c9;
text-transform: uppercase;
}
h2{
font-size: large;
color: #61082b;
font-family: 'Anton', sans-serif;
}
p{
font-family:fantasy;
color: #000000;
text-align: justify;
font-size:medium;
}
ul{
color: black;
font-size: medium;
display: inline-block;
}
.pourquoi{
text-align: justify;
color: unset;
}
footer {
background-color: #91a0c9;
}
