body {
background-color: #ffffff;
text-align: justify;
color: #454545;
font-size: medium;
}
header{
font-family:'Oswald', sans-serif;	
background-color: #91a0c9;
text-transform: uppercase;
}
h1{
font-size:xx-large;
color: #84d672;
font-family: 'Anton', sans-serif;
}
h2{
font-size: large;
color: #61082b;
font-family: 'Anton', sans-serif;
}
p{
font-family:'Open Sans', sans-serif;
color: #000000;
text-align: justify;
font-size:medium;
}
ul{
color: black;
font-size: medium;
display: inline-block;
}
.pourquoi{
font-family: 'Open Sans', sans-serif;	
text-align: justify;
color: unset;
}
footer {
font-size:'Oswald', sans-serif;
background-color: #91a0c9;
}
